body, ul {
    margin: 0;
    padding: 0;
}

main{
    position: relative;

    display: flex;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

.subscriber{
    margin-bottom: 5px;
    font: normal 600 13px Helvetica;
    color: #ffffff;
}

.subscriber:last-child{
    margin-bottom: 0px;
}

.msg{
    width: fit-content;
    margin: 3px;
    padding: 4px;
    border: 0;
    border-radius: 2px;

    background-color: #ffffff;
}

.user-msg{
    align-self: flex-end;

    width: fit-content;
    margin: 3px;
    padding: 3px;
    border: 0;
    border-radius: 2px;

    background-color: #ffffff;
    text-align: right;
}

.chat-user-nickname{
    margin: 0px;
    font: normal 600 11px Helvetica;
}

.sending-time{
    font: normal 200 9px Helvetica;
}

.chat-msg{
    font: normal 200 13px Helvetica;
}
