@use './mixin.scss' as *;

.hide {
    display: none !important;
}

.chat {
    display: flex;
    justify-content: center;
    margin: 25px auto;
    width: 500px;

    // .chat__wrapper
    &__wrapper {
        position: relative;
        height: 250px;
        width: 250px;
        padding: 5px;
        border-radius: 5px;
        border-top-left-radius: 0;
        background-color: rgba(145, 164, 201, 0.921);
    }

    // .chat__container
    &__container {
        overflow-y: auto;
        max-height: 200px;
    }

    // .chat__messages
    &__messages {
        display: flex;
        flex-direction: column;
    }
}

.subscription {

    // .subscription__list
    &__list {
        padding: 7px;
        height: fit-content;
        background-color: rgba(145, 164, 201, 0.921);

        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;


    // .modal__content
    &__content {
        padding: 6px;

        width: 200px;
        border: none;
        border-radius: 5px;

        background-color: rgba(145, 164, 201, 0.921);
    }
}

.form {
    display: flex;
    flex-direction: column;

    // .form_stick-bottom
    &_stick-bottom {
        position: absolute;
        bottom: 0px;
    }

    // .form__label
    &__label {
        display: block;
        margin: 0 auto;
        font: normal 400 14px Helvetica;
    }

    // .form__input
    &__input {
        height: 20px;

        border: 0;
        border-radius: 2px;

        background-color: #ffffff;

        &:focus {
            outline: 2px solid #ffd300;
        }
    }

    // .form__button
    &__button {
        margin: 6px auto 0;
        padding: 5px;
        border: none;
        border-radius: 3px;
        background-color: #ffd300;
        font: normal 600 12px Helvetica;
        color: #ffffff;

        // .form__button_left
        &_left {
            margin-left: 0;
            margin-right: auto;
        }

        &:focus {
            outline: none;
        }
    }

    // .form__validator
    &__validator {
        margin: 3px;
        font: normal 200 13px Helvetica;
    }
}