@use './mixin.scss' as *;
@use './variables.scss' as *;

.hide {
    display: none !important;
}

.chat {
    position: relative;
    box-sizing: border-box;
    width: 795px;
    height: 583px;
    padding: 64px;
    margin: auto;
    background-color: $colorUnwhite;
    box-shadow: $shadowBox;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 20px;

    // .chat__container
    &__container {
        overflow-y: auto;
        padding-right: 10px;

        &::-webkit-scrollbar-button {
            width: 5px;
            height: 0;
            transform: translateX(-5px);
          }
          
          &::-webkit-scrollbar-track {
            background-color: $colorGrey4Cool;
          }
          
          &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 0;
            border-radius: 0;
            background-color: $colorBlue1;
          }
          
          &::-webkit-scrollbar-thumb:hover {
            background-color: $colorBlue1;
          }
          
          &::-webkit-resizer {
            width: 4px;
            height: 0;
          }
          
          &::-webkit-scrollbar {
            width: 4px;
          }
    }

    // .chat__messages
    &__messages {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        font-family: $fontUbuntu;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
    }

    // .chat__message-item
    &__message-item {
        min-width: 40%;
        width: fit-content;
        border-bottom: solid 1px $colorGrey3Cool;

        // .chat__message-item_user
        &_user{
            align-self: flex-end;
            text-align: right;
        }
    }

    // .chat__message-nickname
    &__message-nickname {
        display: flex;
        column-gap: 10px;
        color: $colorGrey3Cool;
    }

    // .chat__message-time
    &__message-time {
        color: $colorGrey3Cool;
    }

    // .chat__message-remove
    &__message-remove{
        text-decoration: underline;
        font-size: 14px;
        color: $colorBlue1;
        cursor: pointer;
        background: none;
        font-weight: 400;
        margin-left: auto;
        text-underline-position: under;
    }

    // .chat__message
    &__message {
        color: $colorBlackCool;
        font-weight: 500;

        // .chat__message_italic
        &_italic{
            font-style: italic;
        }
    }
}

.subscription {
    width: fit-content;
    text-align: right;

    // .subscription_position
    &_position {
        position: absolute;
        transform: translate(-50%, 0%);
        top: 0%;
        left: -7%;
        box-shadow: $shadowBox;
        background-color: $colorUnwhite;
        border-radius: 16px;
    }

    // .subscription__list
    &__list {
        height: fit-content;
        padding-inline: 16px;
        padding-block: 16px;
    }

    // .subscription__item
    &__item {
        margin-bottom: 5px;
        font-family: $fontUbuntu;
        font-size: 16px;
        font-weight: 500;
        color: $colorGrey2Cool;

        // .subscription__item_user
        &_user {
            color: $colorBlue1;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffffffd4;

    // .modal__content
    &__content {
        padding: 16px;

        border: none;
        border-radius: 16px;

        background-color: $colorUnwhite;
        box-shadow: $shadowBox;

        // .modal__content_nickname
        &_nickname {
            width: 300px;
        }
    }

}

.form {

    // .form_flex
    &_flex {
        display: flex;
        flex-wrap: wrap;
        row-gap: 13px;
    }

    // .form__fieldset

    &__fieldset {
        display: flex;
        flex-direction: column;
        margin-bottom: 13px;
        border: none;
    }

    // .form__label
    &__label {
        margin: auto;
        margin-bottom: 13px;
        font-family: $fontUbuntu;
        font-size: 16px;
        font-weight: 500;
        color: $colorBlackCool;
        text-transform: uppercase;
    }

    // .form__input
    &__input {
        height: 35px;

        font-family: $fontUbuntu;
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;

        border: 0;
        border-radius: 2px;
        background-color: $colorUnwhite;
        border-bottom: solid 1px $colorGrey3Cool;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $colorGrey3Cool;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
        }

        // .form__input_error
        &_error {
            border-bottom: solid 1px $colorError;

            &::placeholder {
                color: $colorError;
            }
        }

        // .form__input_align-center
        &_align-center {
            text-align: center;
        }

        // .form__input_full-width
        &_full-width {
            width: 100%;
        }
    }

    // .form__button
    &__button {
        width: fit-content;
        display: block;
        margin: auto;
        padding: 11px 16px;
        border: none;
        background-color: $colorBlue1;
        font-family: $fontUbuntu;
        font-weight: 500;
        color: $colorUnwhite;
        text-transform: uppercase;
        transition: transform linear 0.15s;

        // .form__button_left
        &_left {
            margin-left: 0;
            margin-right: auto;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.9);
        }
    }

    // .form__validator
    &__validator {
        font-family: $fontUbuntu;
        font-size: 11px;
        font-weight: 400;
        line-height: 1.5;
        color: $colorError;
    }

    // .form__validator-container
    &__validator-container {
        display: flex;
        align-items: center;
    }

    // .form__svg 
    &__svg {
        width: 36px;
        height: auto;
    }
}