$fontUbuntu: 'Ubuntu';
$colorUnwhite: #FBFBFB;
$colorGrey2Cool: #364347;
$colorGrey3Cool: #9AA0A8;
$colorGrey4Cool: #D7E1E7;
$colorTextGrey: #5D6878;
$colorBlackCool: #0F1113;
$colorBlue1: #285FAA;
$colorError: #C71938;
$shadowBox: 0px 12px 32px #285FAA29;